// Colores
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');


$color-Cyan: hsl(179, 62%, 43%);
$color-Bright-Yellow: hsl(71, 73%, 54%);
$color-Light-Gray: hsl(204, 43%, 93%);
$color-Grayish-Blue: hsl(218, 22%, 67%);
$color-White: white;


// Fuentes
$fontFamily: 'Karla', sans-serif;
$fontSize: 16px;

// section main
$borderRadius: 15px;
$paddingArticle: 40px;
$heightRows: 250px;

